.header-row{
    padding-top: 5px;
}
.header-tab{
    position: relative;
    height: 80px;
    background: #339898;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-div{
    position: relative;
    height: 100%;
    width:100%;
    display: flex;
    background: #339898;
    justify-content: center;
    align-items: center;
}
.name-logo{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}
.search-div{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-text{
    position: absolute;
    width:100%;
    background: #F4F2F2;
    border-radius: 5px;
}
.avatar-div{
    cursor:pointer;
    background: #F4F2F2;
    border-radius: 50px;
}